div:hover {
    border-style: dashed;    
}

#caixa-um {
    background-color: red;
}

#caixa-dois {
    background: orange;
}

#caixa-tres {
    background-color: yellow;
    height: 3em;
}

#caixa-quatro {
    background-color: darkred;
}

#caixa-cinco {
    background-color: lightcoral;
}

h3 {
    color: darkblue;
    font-family: fantasy;
    font-size: medium;
}